.App {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.box {
  margin: auto;
  background-color: #f7f7f7;
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.title {
  padding-top: 30px;
  padding-bottom: 15px;
  font-weight: bold;
}

.info {
  color: #848a96;
  text-align: center;
}

.searchBar {
  padding-top: 15px;
  width: 80%;
  display: inline-block;
  margin: 0 auto;
}

.nav {
  background-color: #77b3d4;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.nav-span {
  display: inline-block;
  margin-left: 10px;
  font-size: 25px;
  color: white;
}

.card-img {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-right: 20px;
}

.movie-stats-box {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.stats {
  display: inline-block;
  margin-right: 10px;
}

.releasedate {
  border-bottom: solid 1px #dce6f7;
}

.info-box {
  width: 60%;
  display: inline-block;
}

.error-box {
  margin: 30px;
}

.movie-row {
  display: inline-block;
}

.movie-content {
  display: inline-block;
  margin-right: 10px;
}
